.addPage {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.addPage div {
    display: flex;
    padding: 10px;
    /*background: red;*/
    align-self: center;
    justify-content: center;
    width: 80%;
}

.addPage select, input {
    margin: 0;
    padding: 0;
    height: 25px;
    text-align-last: center;
    width: 300px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: width 0.2s, height 0.2s, background-color 1s, transform 0.2s;
}

.addPage button {
    /*background: rgba(120, 201, 203, 0.33);*/
    background-color: #00C3CF;
    color: #005B61;
    padding: 5px 30px 5px 30px;
    outline: none;
    border: none;
    font-size: 16px;
    transition: 0.2s;
    font-weight: lighter;

    /*transition: width 0.2s, height 0.2s, background-color 0.5s, trans.addPage 0.2s;*/
}

.addPage button:hover {
    outline: none;
    border: none;
    cursor: pointer;
    /*background-color: #78c9cb;*/
    background: #00dce8;
    color: black;

    transform: scale(1.03);

}

.addPage input:hover {
    /*outline: none;*/
    /*border: none;*/
    width: 320px;
    /*transform: scale(1.05);*/
}
.addPage select:hover {
    /*cursor: pointer;*/
    width: 320px;
}


.addPage button:active {
    background: #78c9cb;
}

.loading {
    display: flex;
    /*background: blue;*/
    width: 100%;
    font-size: 20px;
    justify-content: center;
    margin-top: 170px;
    align-self: start;
}





